@{
    ViewBag.Title = "About";
}
<h2 class="text-center">@ViewBag.Title.</h2>

<div class="jumbotron text-center">
    <p>@ViewBag.Message</p> 
    <p>This is my first project in ASP.NET MVC</p>
</div>