@{
    ViewBag.Title = "Contact";
}
<h2 class="text-center">@ViewBag.Title.</h2>

<div class="jumbotron text-center">
    <p>@ViewBag.Message</p>
    <address>
        <strong>Email:</strong>   <a href="mailto:mateuszzweigert@gmail.com">mateuszzweigert@gmail.com</a><br />
        <strong>GitHub</strong>   <a href="https://github.com/mzweigert">My Github</a><br />
    </address>
</div>