@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<div class="jumbotron text-center">
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>
    @if (TempData["ErrorReason"] != null)
    {
        <h2>Reason : <strong class="text-danger"> @TempData["ErrorReason"]</strong> </h2>
    }
    
</div>

